steps:
- emerge -j {{.Jobs}} -t --nospinner -b =${PACKAGE_CATEGORY}/${PACKAGE_NAME}-${PACKAGE_VERSION}
requires:
- category: "{{.LayerCategory}}"
  version:  "{{.LayerVersion}}"
  name:     "{{.LayerName}}"
{{ if .Binhost }}
includes:
- /usr/portage/packages/.*
{{end}}
