steps:
- emerge -b ={{.PackageCategory}}/{{.PackageName}}-${PACKAGE_VERSION}
requires:
- category: "{{.LayerCategory}}"
  version:  "{{.LayerVersion}}"
  name:     "{{.LayerName}}"
- category: "{{.LayerCategory}}"
  version:  "{{.LayerVersion}}"
  name:     "sabayon-sources"
{{ if .Binhost }}
includes:
- /usr/portage/packages/.*
{{end}}