steps:
- emerge -b =${GENTOO_CATEGORY}/{{.PackageName}}-${GENTOO_VERSION}
{{ if ne .GentooVersion .PackageVersion }}
- cd /usr/portage/packages/${GENTOO_CATEGORY}
- mv {{.PackageName}}-${GENTOO_VERSION}.tbz2 {{.PackageName}}-${PACKAGE_VERSION}.tbz2
{{ end }}
env:
- "GENTOO_VERSION={{.GentooVersion}}"
- "GENTOO_CATEGORY={{.PackageCategory}}"
requires:
- category: "{{.LayerCategory}}"
  version:  "{{.LayerVersion}}"
  name:     "{{.LayerName}}"
- category: "{{.LayerCategory}}"
  version:  "{{.LayerVersion}}"
  name:     "sabayon-sources"
{{ if .Binhost }}
includes:
- /usr/portage/packages/.*
{{end}}
